*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.container{
    max-width: 100%;
    margin: auto;
    background-image: url('https://images.pexels.com/photos/35192280/pexels-photo-35192280.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.lista{
    list-style-type: square;
    margin-left: 20px;
    display: flex;
    gap: 26px;
    justify-content: center;
    flex-wrap: wrap;
    
}

.card{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 320px;
}

.card:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card img{
    width: 320px;
    height: 200px;
    border-radius: 8px 8px 0 0;
    
    object-fit: cover;
    
}

/* O fundo do modal (escondido por padrão) */
.modal {
  display: none; /* Começa invisível */
  position: fixed; /* Fica fixo na tela mesmo se rolar a página */
  z-index: 1000; /* Garante que fique em cima de tudo */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Fundo preto 90% transparente */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  flex-direction: column;
}

/* A imagem dentro do modal */
.modal-content {
  max-width: 80%; /* Não deixa a imagem estourar a tela */
  max-height: 80%;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  animation: zoom 0.3s; /* Uma animação simples de zoom */
}

/* Botão de fechar (X) */
.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.close:hover {
  color: #bbb;
}

/* Animaçãozinha de zoom ao abrir */
@keyframes zoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

header {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    background-color: blue;
}

header h1 {
    color: white;
    padding: 10px 0;
    text-transform: uppercase;
}

@media (max-width: 568px) {
    .lista {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 250px;
        position: relative;
        left: -35px;
    }

    .card img {
        width: 100%;
        height: auto;
    }
}